a.home{
	background: transparent!important;
}

/*Custom CSS for Datatables*/
        .table_div .row{
            padding: 10px 0px;
        }
        .col-xs-12{
            width: 100%;
        }
        .col-xs-6{
            width: 50%;float: left;
        }
        .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
            float: left;
        }
/*--------------------------*/

/*HOMEPAGE custom css*/
.records{
    margin-top: 20px;
}
.no-padding{
    padding: 0px!important;
}
.buttons-div{
    margin: 10px 0px;
}